/* Id Selector */
/* #title {
    color: red;
} */

/* Class Selector */
/* .text {
    color: blue;
    list-style: none;
} */

/* Descendent */
p a {
  
}

/* child(>) */

div > h2 {
    color: red;
}

/* adjacent(+) */

h2 + p {
    color: green;
}

/* Sibling(~) */

h2 ~ li {
    color: aquamarine;
}

h2[id="1"] {
    color: brown;
}